<div class="row">
  <div class="col-lg-4">
    <nb-card>
      <nb-card-header class="position-relative" [ngStyle]="{height: '60px'}">
        <p class="m-0 align-middle d-inline-block">Create a new user</p>
      </nb-card-header>
      <nb-card-body class="bg-white">


        <form [formGroup]="formGroup" aria-labelledby="title">
          <div class="row mt-2 mb-5 ml-0 mr-0">
            <div class="col-lg-12 pr-4">

              <div class="form-control-group mb-3">
                <label class="label" for="input-name">Name</label>
                <input #name="" nbInput fullWidth [formControlName]="'name'" id="input-name" type="text"
                       name="Name"
                       [placeholder]="'Name'" [(ngModel)]="user.name"
                       autocomplete="off">
                <div
                  *ngIf="isFocused(name) && formGroup.controls['name'].invalid  && (formGroup.controls['name'].dirty || formGroup.controls['name'].touched)"
                  [ngStyle]="{marginTop: '1rem'}" class="alert alert-danger text-left">
                  <div *ngIf="formGroup.controls['name'].errors.required">
                    Name is required
                  </div>
                  <div *ngIf="formGroup.controls['name'].errors.pattern">
                    Name should not contain special characters
                  </div>
                </div>
              </div>


              <div class="form-control-group mb-3">
                <label class="label"
                       for="input-lastname">Last name</label>
                <input #lastname="" nbInput fullWidth [formControlName]="'lastname'" id="input-lastname"
                       type="text"
                       name="Last Name" [placeholder]="'Last name'"
                       [(ngModel)]="user.lastname" autocomplete="off">
                <div
                  *ngIf="isFocused(lastname) && formGroup.controls['lastname'].invalid  && (formGroup.controls['lastname'].dirty || formGroup.controls['lastname'].touched)"
                  [ngStyle]="{marginTop: '1rem'}" class="alert alert-danger text-left">
                  <div *ngIf="formGroup.controls['lastname'].errors.required">
                    Last name is required
                  </div>
                  <div *ngIf="formGroup.controls['lastname'].errors.pattern">
                    Last name should not contain special characters
                  </div>
                </div>
              </div>

              <div class="form-control-group mb-3">
                <label class="label" for="input-username">Username</label>
                <input #username="" nbInput fullWidth [formControlName]="'username'" id="input-username" type="text"
                       name="Username"
                       [placeholder]="'Username'" [(ngModel)]="user.username"
                       autocomplete="off">
                <div
                  *ngIf="isFocused(username) && formGroup.controls['username'].invalid  && (formGroup.controls['username'].dirty || formGroup.controls['username'].touched)"
                  [ngStyle]="{marginTop: '1rem'}" class="alert alert-danger text-left">
                  <div *ngIf="formGroup.controls['username'].errors.required">
                    Username is required
                  </div>
                </div>
              </div>

              <div class="form-control-group mb-3">
                <label class="label" for="input-email">Email</label>
                <input #email="" nbInput fullWidth [formControlName]="'email'" id="input-email" type="text" name="Email"
                       [placeholder]="'Email'"
                       [(ngModel)]="user.email" autocomplete="off">
                <div
                  *ngIf="isFocused(email) && formGroup.controls['email'].invalid  && (formGroup.controls['email'].dirty || formGroup.controls['email'].touched)"
                  [ngStyle]="{marginTop: '1rem'}" class="alert alert-danger text-left">
                  <div *ngIf="formGroup.controls['email'].errors.required">
                    Email address is required
                  </div>
                  <div *ngIf="formGroup.controls['email'].errors.email">
                    Wrong email address format
                  </div>
                </div>
              </div>

              <div class="form-control-group mb-3">
                <label class="label" for="input-password">Password</label>
                <input #password="" nbInput fullWidth [formControlName]="'password'" type="password" id="input-password"
                       name="Password" [placeholder]="'Password'"
                       [(ngModel)]="user.password" autocomplete="off">
                <div
                  *ngIf="isFocused(password) && formGroup.controls['password'].invalid  && (formGroup.controls['password'].dirty || formGroup.controls['password'].touched)"
                  [ngStyle]="{marginTop: '1rem'}" class="alert alert-danger text-left">
                  <div *ngIf="formGroup.controls['password'].errors.required">
                    Password is required
                  </div>
                  <div *ngIf="formGroup.controls['password'].errors.hasSmallCase ||
                    formGroup.controls['password'].errors.hasCapitalCase ||
                    formGroup.controls['password'].errors.hasSpecialCharacters ||
                    formGroup.controls['password'].errors.hasNumber">
                    Must contains at least a number, a special character, an uppercase and a lowercase letter
                  </div>
                  <div *ngIf="formGroup.controls['password'].errors.minlength">
                    Password must be at least 8 characters long
                  </div>
                  <div *ngIf="formGroup.controls['password'].errors.maxlength">
                    Password must be 64 characters maximum
                  </div>
                </div>
              </div>

              <div class="form-control-group mb-3">
                <nb-checkbox (checkedChange)="this.user.roles = $event ? [{id: 2, name: 'ROLE_ADMIN'}] : null">
                  Create an administrator user?
                </nb-checkbox>
                <label class="label"></label>

              </div>
            </div>
          </div>
          <button class="mb-2" nbButton fullWidth [status]="'success'" [disabled]="!formGroup.valid" (click)="create()">
            Create
          </button>
        </form>


      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-8">
    <nb-card>
      <nb-card-header class="position-relative" [ngStyle]="{height: '60px'}">
        <p class="m-0 align-middle d-inline-block">Application user's list</p>
        <input nbInput #ng2SmartTableSearch class="form-control align-middle d-inline-block position-absolute"
               [placeholder]="'Search...'" (keydown.enter)="search(ng2SmartTableSearch.value)"
               [ngStyle]="{right: '20px', top: '10px'}">
      </nb-card-header>
      <nb-card-body class="bg-white">
        <ng2-smart-table [settings]="settings"
                         [source]="source"
                         (editConfirm)="edit($event)"
                         (deleteConfirm)="delete($event)">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
